PORT=3000 #Express server port
NODE_ENV=production
DB_HOST=localhost #Docker uses "postgres" as DB_HOST, uses "localhost" for local hosts
DB_PORT=5433 #5433 is defined as db_port in docker-compose
DB_USER=your_user
DB_PASSWORD=your_user_password
DB_NAME=database_name

